/*清除默认样式*/
*{
    margin:0;
    padding:0;
}
body{
    height:100%;
    width:100%;
    background: url("../img/bg.jpg");
}

a{
    text-decoration: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #8c8a8a;
    /*box-shadow: 3px 3px 10px 0 #666;!*设置盒子阴影：*!*/

}
ul{
    width:80%;
    list-style: none;
    margin:0 auto 0;
}
ul li{
    background: #fff;
    width:30%;
    text-align: center;
    margin:0 5px 10px 5px;
    float: left;
}
ul li img{
    width: 100%;
    cursor: pointer;
    vertical-align: middle;
}
ul li:hover img{
    margin-top:5px;
}